{{#if shaded}}
<section class="explore-block block-shading">
{{else}}
<section class="explore-block">
{{/if}}
  <div class="content">
    <div class="explore-content">
      <h2>Start exploring</h2>
    </div>
    <div class="explore-panel">
      <div class="explore-panel-content">
        <div class="explore-image-block">
          {{#each image_list}}
            <a href="/object/{{objectid}}"><div class="explore-image" style="background-image:url({{imageurl}}"></div></a>
          {{/each}}
        </div>
        <div class="tag-search">
          <div class="explore-subhead">
            <h3>Annotation Search</h3>
            <p>Use the search box to find artworks that depict the term or phrase</p>
          </div>
          <div class="search-container">
            <form method="post" action="/search">
              <input type="text" placeholder="Search here..." name="search">
              <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="example-terms">
            {{#each tag_list}}
              <a href="/search/{{tag}}"><p>{{tag}}</p></a>
            {{/each}}
          </div>
          <div class="example-terms-mobile">
            {{#each mobile_tag_list}}
              <a href="/search/{{tag}}"><p>{{tag}}</p></a>
            {{/each}}
          </div>
        </div>
        <div class="category-search">
          <div class="explore-subhead">
            <h3>Category Search</h3>
            <p>Explore how a machine auto-categorizes images into 12 unique groups</p>
          </div>
          <a href="/category"><button class="link-button gray-button">Category search</button></a>
        </div>
        <div class="category-search">
          <div class="explore-subhead">
            <h3>Statistics Browser</h3>
            <p>Browse statistics about the services, features, and vocabulary</p>
          </div>
          <a href="/statistics"><button class="link-button gray-button">Statistics browser</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
