<section class="about">
  <div class="content">
    <h2>About the AI Explorer</h2>
    <div class="red-line-break about-break"></div>
    <div class="about-banner">
      <div class="about-overview">
        <h3>Overview</h3>
        <p>Using artificial intelligence, the Harvard Art Museums has collected {{annotation_count}} machine-generated descriptions and tags covering over 100,000 artworks. Ranging from object recognition to face analysis that predicts gender, age, and emotion, the data reveals how computers interpret paintings, photographs, and sculptures. The AI Explorer allows users to explore the extensive collection of data by searching for artworks by machine-generated keyword and looking at aggregated data for individual pieces.</p>
      </div>
      <div class="about-image-container">
        <img class="about-image" src="/images/aboutbanner.png">
      </div>
    </div>
    <div class="about-why-how">
      <div class="about-why-how-text">
        <h3>Why?</h3>
        <p>The Harvard Art Museums is using computer vision to categorize, tag, describe, and annotate its collection of art pieces. Since the computer lacks any context or formal training in art history, the machine views and annotates our collection as if walking into an art museum for the first time. This new perspective offered by AI leans closer to reflecting the public rather than experts. Currently, the Harvard Art Museums’ search interface relies on descriptions written by art historians. By being able to use artificially-generated annotations to search for art, non-museumgoers can more readily access the Harvard Art Museums’ art collection.</p>
      </div>
      <div class="about-why-how-text">
        <h3>How?</h3>
        <p>The Harvard Art Museums has collected artificially-generated data on artworks from five different machine-vision services: <a href="https://aws.amazon.com/rekognition/">Amazon Rekognition</a>, <a href="https://www.clarifai.com/">Clarifai</a>, <a href="https://imagga.com/">Imagga</a>, <a href="https://cloud.google.com/vision/">Google Vision</a>, and <a href="https://azure.microsoft.com/en-us/services/cognitive-services/">Microsoft Cognitive Services</a>. On each art piece, these services provide interpretations otherwise known as “annotations” that include generated tags and captions and object, face, and text recognition. When a user searches for a keyword, the AI Explorer takes the user-inputted keyword and finds artworks that contain a matching machine-generated tag. From there, the user can go to an individual piece and see its collection of annotations from the five AI services.</p>
      </div>
    </div>
  </div>
</section>
<section class="explore-block-about">
  <div class="content">
    <div class="explore-content">
      <h2>Start exploring</h2>
    </div>
    <div class="explore-panel">
      <div class="explore-panel-content">
        <div class="explore-image-block">
          {{#each image_list}}
            <a href="/object/{{objectid}}"><div class="explore-image" style="background-image:url({{imageurl}}"></div></a>
          {{/each}}
        </div>
        <div class="tag-search">
          <div class="explore-subhead">
            <h3>Annotation Search</h3>
            <p>Use the search bar to find artworks that contain the inputted keyword</p>
          </div>
          <div class="search-container">
            <form method="post" action="/search">
              <input type="text" placeholder="Search here..." name="search">
              <button class="search-button" type="submit"><i class="fa fa-search"></i></button>
            </form>
          </div>
          <div class="example-terms">
            {{#each tag_list}}
              <a href="/search/{{tag}}"><p>{{tag}}</p></a>
            {{/each}}
          </div>
          <div class="example-terms-mobile">
            {{#each mobile_tag_list}}
              <a href="/search/{{tag}}"><p>{{tag}}</p></a>
            {{/each}}
          </div>
        </div>
        <div class="category-search">
          <div class="explore-subhead">
            <h3>Category Search</h3>
            <p>Explore how a machine auto-categorizes images into 12 unique groups</p>
          </div>
          <a href="/category"><button class="link-button gray-button">Category search</button></a>
        </div>
      </div>
    </div>
  </div>
</section>
