<section class="object-view-panel">
  <a class="object-nav-header" href="/">
    <img class="nav-logo" src="/images/artmuseumslogo.png"></img>
  </a>
  <div class="object-image-container">
    <div id="openseadragon1">
    </div>
    <div id="image-toolbar">
      <a id="zoom-in" href="#zoom-in" title="Zoom in"><i class="fas fa-search-plus toolbar-button"></i></a>
      <a id="zoom-out" href="#zoom-out" title="Zoom out"><i class="fas fa-search-minus toolbar-button"></i></a>
    </div>
  </div>
</section>

<section class="object-info-panel">
    <div class="object-human-info">
        <h2>Human Generated Data</h2>
    </div>
    <table class="object-human-info">
      <tr>
        <td class="object-info-row">
          <div class="object-info-section">
            <h5>Title</h5>
            <h3>{{object_info.title}}<span><a href="{{object_info.url}}"><i class="fa fa-external-link"></i></a></span></h3>
          </div>
        </td>
        <td class="object-info-row">
          <div class="object-info-section">
            <h5>Date</h5>
            <h3>{{object_info.dated}}</h3>
          </div>
        </td>
      </tr>
      <tr>
        <td class="object-info-row">
          <div class="object-info-section">
            <h5>People</h5>
            {{#each object_info.people}}
              <h3>{{role}}: {{name}}, {{culture}} {{displaydate}}</h3>
            {{/each}}
          </div>
        </td>
        <td class="object-info-row">
          <div class="object-info-section">
            <h5>Classification</h5>
            <h3>{{object_info.classification}}</h3>
          </div>
        </td>
      </tr>
      </tr>
      <tr>
        <td class="object-info-row">
          <div class="object-info-section">
            <h5>Credit Line</h5>
              <h3>{{object_info.creditline}}, {{object_info.objectnumber}}</h3>
          </div>
        </td>
        <td class="object-info-row">
          <div class="object-info-section">
            {{#if object_info.copyright}}
            <h5>Copyright</h5>
            <h3>{{object_info.copyright}}</h3>
            {{/if}}
          </div>
        </td>
      </tr>      
    </table>
    <div class="object-human-info-mobile">
      <div class="object-info-section">
        <h2>Human Generated Data</h2>
      </div>
      <div class="object-info-section">
        <h5>Title</h5>
        <h3>{{object_info.title}}<span><a href="{{object_info.url}}"><i class="fa fa-external-link"></i></a></span></h3>
      </div>
      <div class="object-info-section">
        <h5>People</h5>
        {{#each object_info.people}}
          <h3>{{role}}: {{name}}, {{culture}} {{displaydate}}</h3>
        {{/each}}
      </div>
      <div class="object-info-section">
        <h5>Date</h5>
        <h3>{{object_info.dated}}</h3>
      </div>
      <div class="object-info-section">
        <h5>Classification</h5>
        <h3>{{object_info.classification}}</h3>
      </div>
    </div>

    <div class="gray-line-break"></div>
    <div class="content">
    {{#if ai_sorted}}
      <div class="ai-content">
        <h2>Machine Generated Data</h2>
        <div id="object-tag-section">
          <h3>Tags</h3>
          <div class="tag-box">
            {{#each ai_sorted.tagsect}}
              <div class="service-tags">
                <div class="tag-heading">
                  <h4>{{source}}<br/><span>created on {{createdate}}</span></h4>
                </div>
                <div class="tag-list">
                  <table class="tag-table">
                    {{#each tags}}
                      <tr>
                        <td class="tag-body"><a href="/search/{{body}}">{{body}}</a></td>
                        <td class="tag-confidence">{{confidence}}</td>
                      </tr>
                      <tr>
                        <td colspan="2">
                          <div class="confidence-bar">
                            <div class="red-bar" style="width:{{confidence}}%"></div>
                          </div>
                        <td>
                      </tr>
                    {{/each}}
                  </table>
                </div>
              </div>
            {{/each}}
          </div>
        </div>
        <div id="object-color-section">
          <h3>Color Analysis</h3>
          <div class="captions-colors-box">
            <div class="captions-colors-box-content" style="height:25px;">
           {{#each object_info.colors}}
              <div style="float:left;background:{{color}};height:25px;width:25px;"></div>
           {{/each}}
           </div>
           </div>
        </div>
        {{#if ai_sorted.facesect}}
          <div id="object-face-section">
            <h3>Face analysis</h3>
            <div class="faces-box">
              <div class="faces-toggle">
                {{#each ai_sorted.facesect}}
                  <div class="face-subsect">
                    <div class="faces-sources">
                      <h4>{{source}}</h4>
                    </div>
                    <div class="faces-icons">
                      {{#each faces}}
                        <button id="{{@key}}face-button" onclick="toggleface('{{id}}')"><div id="{{id}}icon" class="face-images" style="background-image:url({{raw.iiifFaceImageURL}})"></div></button>
                      {{/each}}
                    </div>
                  </div>
                {{/each}}
              </div>
              <div class="face-info">
                {{#each ai_sorted.facesect}}
                  {{#each faces}}
                    <div class="face-info-box" id="{{id}}">
                      <div class="face-content">
                        <div class="face-image">
                          <img src={{raw.iiifFaceImageURL}}></img>
                        </div>
                        <div class="face-text">
                          <h4>{{source}}</h4>
                          <table>
                            {{#each sorted_raw}}
                              <tr>
                                <td class="face-text-type">{{type}}</td>
                                <td class="face-text-body">{{body}}</td>
                              </tr>
                            {{/each}}
                          </table>
                        </div>
                      </div>
                    </div>
                  {{/each}}
                {{/each}}
              </div>
            </div>
          </div>
        {{/if}}
        {{#if ai_sorted.featuresect}}
          <section id="object-features-section">
            <h3>Feature analysis</h3>
            <div class="features-box">
              <div class="toggle-head">
                <h4>Amazon</h4>
              </div>
              <div class="features-content">
                <div class="features-box-toggle">
                  <div class="features-row">
                    {{#each ai_sorted.featuresect.Amazon.features}}
                      <button id="{{@key}}feature-button" onclick="togglefeature('{{id}}')">
                        <div class="feature-icon-title">{{body}}</div>
                        {{#each raw.Instances}}
                          <div class="feature-images {{../id}}featureicon" style="background-image:url({{iiifLabelImageURL}})"></div>
                        {{/each}}
                      </button>
                    {{/each}}
                  </div>
                </div>
                <div class="features-box-display">
                  {{#each ai_sorted.featuresect}}
                    {{#each features}}
                      <div class="feature-info-box" id="{{id}}">
                        <div class="feature-image">
                          <div class="feature-slideshow">
                            {{#each raw.Instances}}
                              <img class="feature-slide {{../id}} {{@key}}" src={{iiifLabelImageURL}}></img>
                            {{/each}}
                            <button class="left-slideshow-button slideshow-buttons" onclick="plusDivs(-1, {{id}})">&#10094;</button>
                            <button class="right-slideshow-button slideshow-buttons" onclick="plusDivs(1, {{id}})">&#10095;</button>
                          </div>
                        </div>
                        <div class="feature-text">
                          <table>
                            <tr>
                              <td class="tag-body"><a href="/search/{{body}}">{{body}}</a></td>
                              <td class="tag-confidence">{{confidence}}<sup>%</sup></td>
                            </tr>
                            <tr>
                              <td colspan="2">
                                <div class="confidence-bar">
                                  <div class="red-bar" style="width:{{confidence}}%"></div>
                                </div>
                              <td>
                            </tr>
                          </table>
                        </div>
                      </div>
                    {{/each}}
                  {{/each}}
                </div>
              </div>
            </div>
          </section>
        {{/if}}
        {{#if ai_sorted.captions}}
          <div id="object-captions-section">
            <h3>Captions</h3>
            <div class="captions-colors-box">
              <div class="captions-colors-box-content">
                <div class="captions-colors-head">
                  <h4>Microsoft</h4>
                </div>
                <table class="captions-table">
                  {{#each ai_sorted.captions.Microsoft}}
                    <tr>
                      <td>{{body}}</td>
                      <td class="tag-confidence">{{confidence}}<sup>%</sup></td>
                    <tr>
                    <tr>
                      <td colspan="2">
                        <div class="confidence-bar">
                          <div class="red-bar" style="width:{{confidence}}%"></div>
                        </div>
                      <td>
                    </tr>
                  {{/each}}
                </table>
              </div>
            </div>
          </div>
        {{/if}}
        {{#if ai_sorted.textsect}}
          <div id="object-text-section">
            <h3>Text analysis</h3>
            <div class="text-box">
                {{#each ai_sorted.textsect}}
                  <div class="text-service-sect">
                    <div class="text-head">
                      <h4>{{source}}</h4>
                    </div>
                    <div class="text-tags-list">
                      {{#each text}}
                        <div class="text-tag">
                          <img class="text-image" src="{{raw.iiifTextImageURL}}"></img>
                          <div class="text-icon-title">{{body}}</div>
                        </div>
                      {{/each}}
                    </div>
                  </div>
                {{/each}}
            </div>
          </div>
        {{/if}}
      </div>
    {{else}}
      No AI data for this piece
    {{/if}}
  </div>
</section>

<script src="../javascripts/openseadragon/openseadragon.min.js"></script>

<script type="text/javascript">
    var viewer = OpenSeadragon({
        id: "openseadragon1",
        prefixUrl: "../javascripts/openseadragon/images/",
        toolbar: "image-toolbar",
        zoomInButton: "zoom-in",
        zoomOutButton: "zoom-out",
        {{#if object_info.imagepermissionlevel}}
        maxZoomLevel: 1,
        {{/if}}
        tileSources: [
          "{{object_info.images.0.iiifbaseuri}}/info.json"
        ]
    });
</script>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    if (document.getElementById('0face-button')) {
      document.getElementById('0face-button').click()
    }

    if (document.getElementById('0feature-button').click()) {
      document.getElementById('0feature-button').click()
    }
}, false);


  var slideIndex = 1;

  function plusDivs(n, id) {
    showDivs((slideIndex += n), id);
  }

  function showDivs(n, id) {
    var i;
    var x = document.getElementsByClassName(id);
    if (n > x.length) {slideIndex = 1}
    if (n < 1) {slideIndex = x.length}
    for (i = 0; i < x.length; i++) {
      x[i].style.display = "none";
    }
    var slideshowButtons = document.getElementsByClassName('slideshow-buttons')
    if (x.length > 1) {
      for (var i = 0; i < slideshowButtons.length; i++) {
        slideshowButtons[i].style.display = "block"
      }
    } else {
      for (var i = 0; i < slideshowButtons.length; i++) {
        slideshowButtons[i].style.display = "none"
      }
    }
    x[slideIndex-1].style.display = "block";
  }

  function toggleface(id) {
      var faces = document.getElementsByClassName('face-info-box');
      for(var i = 0; i < faces.length; i++){
          faces[i].style.display = "none";
      }
      var icons = document.getElementsByClassName('face-images');
      for(var i = 0; i < icons.length; i++){
          icons[i].style.border = "none";
      }
      var div = document.getElementById(id);
      var icon = document.getElementById(id + "icon")
      div.style.display = div.style.display == "block" ? "none" : "block";
      icon.style.border = icon.style.border == "1.5px solid var(--c-orangered)" ? "none" : "1.5px solid var(--c-orangered)";
  }

  function togglefeature(id) {
      var features = document.getElementsByClassName('feature-info-box');
      for(var i = 0; i < features.length; i++){
          features[i].style.display = "none";
      }
      var icons = document.getElementsByClassName('feature-images');
      for(var i = 0; i < icons.length; i++){
          icons[i].style.border = "none";
      }
      var div = document.getElementById(id);
      var icons = document.getElementsByClassName(id + "featureicon")
      div.style.display = div.style.display == "block" ? "none" : "block";
      for(var i = 0; i < icons.length; i++){
        icons[i].style.border = icons[i].style.border == "1.5px solid var(--c-orangered)" ? "none" : "1.5px solid var(--c-orangered)";
      }
      plusDivs(0, id)
  }

</script>
