<section class="explore-page">
  <div class="content">
    <h2>Statistics</h2>
    <div class="red-line-break about-break"></div>
    
    <div class="stats-overview">
      <h3>Total Volume of Data</h3>
      <div class="about-why-how-text">
        <p>The database contains <strong>{{stats.annotation_count}}</strong> publicly accessible machine-generated annotations covering <strong>{{stats.image_count}}</strong> images.</p>
        <p>Annotations date from {{stats.date_of_oldest}} to {{stats.date_of_newest}}.</p>
        <p>Each annotation indicates an area of interest in an image. An area can be a small portion of an image or it can be the entire image. Small regions typically contain a human face or words. Annotations on the full image are typically tags (e.g. <a href="/search/cat">cat</a>, <a href="/search/watermelon">watermelon</a>, <a href="/search/rock">rock</a>) and descriptions (e.g. <a href="/search/a cow standing in a field">a cow standing in a field</a>).</p>
        <p>Access to annotations as data is available via the <a href="https://github.com/harvardartmuseums/api-docs/blob/master/sections/annotation.md">annotation endpoint</a> on the Harvard Art Museums API.</p>
      </div>  
    </div>
    <div class="about-why-how">
      <h3>Sources</h3>
      <div class="about-why-how-text">
        <p>Annotations are generated from 5 computer vision services and 7 large language models.</p>
        <p>Each service supplies a variety of functions for detecting and categorizing features. These are the services and features we use.</p>
      </div>
      <dl>
          <dt>Amazon Nova (via AWS Bedrock)</dt><dd>Description generation via prompting</dd>
          <dt>Anthropic Claude (via AWS Bedrock)</dt><dd>Description generation via prompting</dd>
          <dt>AWS Rekognition</dt><dd>Labels, face detection, text detection</dd>
          <dt>Clarifai</dt><dd>Concepts, captions</dd>
          <dt>Google Gemini</dt><dd>Description generation via prompting</dd>
          <dt>Google Vision</dt><dd>Labels, face detection, text detection, landmark detection</dd>
          <dt>Imagga</dt><dd>Faces, tags, categories</dd>
          <dt>Meta Llama (via AWS Bedrock)</dt><dd>Description generation via prompting</dd>
          <dt>Microsoft Cognitive Sources</dt><dd>Tags, categories, descriptions, face detection</dd>
          <dt>Mistral Pixtral (via AWS Bedrock)</dt><dd>Description generation via prompting</dd>
          <dt>OpenAI GPT (via Azure)</dt><dd>Description generation via prompting</dd>
          <dt>Qwen (via Hyperbolic)</dt><dd>Description generation via prompting</dd>
      </dl>

      <div>
        <p>Image coverage by source.</p>
        <div id="coverage-plot"></div>
      </div>   
      <div class="stats">
        {{!-- <p>The raw data.</p>
        <table style="max-width: 70%;">
          <thead>
            <tr>
              <th></th>
              <th>Percent of Images Covered</th>
            </tr>
          </thead>
          <tbody>
              {{#each stats.aggregations.by_source.buckets}}
                <tr>
                  <th>{{key}}</th>
                  <td>{{round image_coverage.percentage}}%</td>
                </tr>
              {{/each}}     
          </tbody>
        </table> --}}
      </div>
      
      <div>
        <p>Annotation counts by source.</p>
        <div id="source-plot"></div>    
      </div>   
      <div class="stats">
        <p>The raw data.</p>
        <table style="max-width: 70%;">
          <thead>
            <tr>
              <th></th>
              {{#each stats.aggregations.by_type.buckets.0.by_source.buckets}}
              <th>{{key}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
              {{#each stats.aggregations.by_type.buckets}}
                <tr>
                  <th>{{key}}</th>
                  {{#each by_source.buckets}}
                    <td>{{number doc_count}}</td>
                  {{/each}}
                </tr>
              {{/each}}     
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
               {{#each stats.aggregations.by_source.buckets}}
                <th>{{number doc_count}}</th>
              {{/each}}
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="about-why-how">
      <h3>Annotation Types</h3>
      <div>
        <p>
            Annotation types generally describe what the annotation contains or depicts. These are the possible types.
            <dl>
              <dt>category</dt><dd>a broad categorization of the contents of the image</dd>
              <dt>description</dt><dd>a full sentence caption of the contents of the image</dd>
              <dt>face</dt><dd>a human face is found within the annotation</dd>
              <dt>tag</dt><dd>a term or set of terms describing all or part of the image</dd>
              <dt>text</dt><dd>some text is found within the annotation</dd>
            </dl>
        </p>
      </div>
      <div>
        <p>Distribution of sources across annotation types.</p>
        <div id="type-plot"></div>    
      </div>      
      <div class="stats">
        <p>The raw data.</p>
        <table style="max-width: 70%;">
          <thead>
            <tr>
              <th></th>
              {{#each stats.aggregations.by_source.buckets.0.by_type.buckets}}
              <th>{{key}}</th>
              {{/each}}
            </tr>
          </thead>
          <tbody>
              {{#each stats.aggregations.by_source.buckets}}
                <tr>
                  <th>{{key}}</th>
                  {{#each by_type.buckets}}
                    <td>{{number doc_count}}</td>
                  {{/each}}
                </tr>
              {{/each}}     
          </tbody>
          <tfoot>
            <tr>
              <th>Total</th>
               {{#each stats.aggregations.by_type.buckets}}
                <th>{{number doc_count}}</th>
              {{/each}}
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
    <div class="about-why-how">
        <h3>Vocabularies<sup>1</sup></h3>
        <div>
          <p>The tags and descriptions cluster and breakdown in to distinct terms, descriptive phrases, concepts, and named entities.</p>
        </div>
        <div>
          <h4>Terms</h4>
          <p>The vocabulary of tags contains <strong>{{stats.term_count}} distinct terms</strong>.</p>
          <div>
            <p>The size of vocabulary by source.</p>
            <div id="source-vocab-plot"></div>    
          </div>
          <div class="stats">
            <p>The raw data.</p>
            <table style="max-width: 70%;">
              <thead>
                <tr>
                  <th></th>
                  <th># of terms</th>
                </tr>
              </thead>
              <tbody>
                  {{#each stats.sources}}
                    <tr>
                      <th>{{source}}</th>
                      <td>{{number vocabulary_size}}</td>
                    </tr>
                  {{/each}}     
              </tbody>
            </table>
          </div>

        <p>Sample set of terms:</p>
        <p>
          <ul>
            {{#each samples.terms}}
              <li><a href="/search/{{term}}">{{term}} ({{number count}})</a></li>
            {{/each}}
          </ul>
        </p>
      </div>
      <div>
        <h4>Descriptive Phrases</h4>
        <p>The vocabulary of descriptions contains <strong>{{stats.description_count}} descriptive phrases</strong>.</p>
        <p>Sample set of descriptive phrases:</p>
        <p>
          <ul>
            {{#each samples.descriptions}}
              <li><a href="/search/{{term}}">{{term}}</a> ({{number count}})</li>
            {{/each}}
          </ul>
        </p>
      </div>
      <div>
        <h4>Named Entities<sup>2</sup></h4>
        <p>Descriptions can be parsed further in to clusters of named entities.</p>
        <p>The vocabulary of named entities contains <strong>{{stats.people_count}} people</strong>.</p>
        <p>Sample set of people:</p>
        <div class="stats-list">
          {{#each samples.people}}
            <details>
              <summary>{{term}} ({{number count}})</summary>
              <p>The entity <span class="highlight-term">{{term}}</span> is present in {{number count}} descriptions.</p>
              <ul>
                {{#each original}}
                  <li>{{description}}</li>
                {{/each}}
              </ul>
            </details>
          {{/each}}
        </div>
        <p>The vocabulary of named entities contains <strong>{{stats.place_count}} places</strong>.</p>
        <p>Sample set of places:</p>
        <div class="stats-list">
          {{#each samples.places}}
            <details>
              <summary>{{term}} ({{number count}})</summary>
              <p>The entity <span class="highlight-term">{{term}}</span> is present in {{number count}} descriptions.</p>
              <ul>
                {{#each original}}
                  <li>{{description}}</li>
                {{/each}}
              </ul>
            </details>
          {{/each}}
        </div>
        <p>The vocabulary of named entities contains <strong>{{stats.organization_count}} organizations</strong>.</p>
        <p>Sample set of organizations:</p>
        <div class="stats-list">
          {{#each samples.organizations}}
            <details>
              <summary>{{term}} ({{number count}})</summary>
              <p>The entity <span class="highlight-term">{{term}}</span> is present in {{number count}} descriptions.</p>
              <ul>
                {{#each original}}
                  <li>{{description}}</li>
                {{/each}}
              </ul>
            </details>
          {{/each}}
        </div>    
      </div>
      <div class="about-why-how">
        <p>
            <sup>1</sup> Vocabularies are slow to compile so they are built about once a month. The current vocabulary was built on {{stats.build_date}}.<br/>
            <sup>2</sup> Named entities are extracted using <a href="https://compromise.cool/">Compromise</a>, a javascript NLP library. It's not exact, but pretty close.
        </p>
      </div>
    </div>
    <div class="about-why-how">
      <h3>Model History</h3>
      <div class="stats">
        <p>Models come and go. This table is a record of changes to models on the services we use.</p>
        <table style="max-width: 100%;">
          <thead style="text-align: left;">
            <tr>
              <th>Date of Change</th>
              <th>Change Details</th>
            </tr>
          </thead>
          <tbody>
              {{#each stats.model_history}}
                <tr>
                  <td style="text-align: left;">{{date_of_change}}</td>
                  <td style="text-align: left;"><details><summary>{{service}}: {{summary}}</summary>{{{markdown details}}}</details></td>
                </tr>
              {{/each}}     
          </tbody>
        </table>
    </div>
  </div>
</section>

<script>

  document.addEventListener('DOMContentLoaded', function() {
    plotStats();
  });

  function plotStats() {
    const data = [
    {{#each stats.aggregations.by_type.buckets}}
        {{#each by_source.buckets}}
          {type:"{{../key}}", count:{{doc_count}}, source:"{{key}}"},
        {{/each}}
    {{/each}}    
    ];

    const plot = Plot.plot({
        y: {grid: true, percent: true},
        marks: [
          Plot.barY(data, {x: "type", y: "count", fill: "source", offset: "normalize", tip: true}),
          Plot.ruleY([0])
        ],
        color: { legend: true },
        height: 350,
        width: 600,
        marginTop: 20, // 🌶 if you don't set the margins, the defaults flip the scales bottom-up
        marginBottom: 40,
        marginLeft: 50,
        marginRight: 20
    })

    let div = document.getElementById("type-plot");
    div.append(plot);    

    // Plot #2
    const dataVocabBySource = [
    {{#each stats.sources}}
      {source:"{{source}}", count:{{vocabulary_size}} },
    {{/each}}
    ];

    const plot2 = Plot.plot({
        y: {grid: true, percent: false, label: '# of terms'},
        marks: [
          Plot.axisX({label: null, lineWidth: 6, marginBottom: 40}),
          Plot.barY(dataVocabBySource, {x: "source", y: "count", fill: "source", tip: true}),
          Plot.ruleY([0])
        ],
        height: 350,
        width: 600,
        marginTop: 20, // 🌶 if you don't set the margins, the defaults flip the scales bottom-up
        marginBottom: 40,
        marginLeft: 50,
        marginRight: 20      
    })

    div = document.getElementById("source-vocab-plot");
    div.append(plot2);   

    // Plot #3
    const sources = [
    {{#each stats.aggregations.by_source.buckets}}
        {{#each by_type.buckets}}
          {source:"{{../key}}", count:{{doc_count}}, type:"{{key}}"},
        {{/each}}
    {{/each}}   
    ];

    const plot3 = Plot.plot({
        y: {grid: true},
        marks: [
          Plot.axisX({label: null, lineWidth: 6, marginBottom: 40}),
          Plot.barY(data, {x: "source", y: "count", fill: "type", tip: true}),
          Plot.ruleY([0])
        ],
        color: { legend: true },
        height: 350,
        width: 600,
        marginTop: 20, // 🌶 if you don't set the margins, the defaults flip the scales bottom-up
        marginBottom: 40,
        marginLeft: 60,
        marginRight: 20
    })

    div = document.getElementById("source-plot");
    div.append(plot3);       

   // Plot #4
    const sources_coverage = [
    {{#each stats.aggregations.by_source.buckets}}
        {source:"{{key}}", percent:{{round image_coverage.percentage}} },
    {{/each}}   
    ];

    const plot4 = Plot.plot({
        y: {grid: true, percent: false, domain: [0, 100]},
        marks: [
          Plot.axisX({label: null, lineWidth: 6, marginBottom: 40}),
          Plot.barY(sources_coverage, {x: "source", y: "percent", fill: "source", tip: true}),
          Plot.ruleY([0])
        ],
        color: { legend: false },
        height: 350,
        width: 600,
        marginTop: 20, // 🌶 if you don't set the margins, the defaults flip the scales bottom-up
        marginBottom: 40,
        marginLeft: 60,
        marginRight: 20
    })

    div = document.getElementById("coverage-plot");
    div.append(plot4);       
  }
</script>